body {
    font-family: 'Space Grotesk', sans-serif;
    font-size:  18px;
    background-color: #FFFFFF;
}

input {
    font-family: 'Space Grotesk', sans-serif;
    width: 310px;
    height: 25px;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 28px;
    margin: 1rem;
}

p {
    text-align: center;
    font-size: 16px;
    color: gray;
    margin-bottom: 2rem;
    }

.img-back {
    position: absolute;
    margin: 0px;
}

.container {
    display: inline-block;
}

.img-card-front {
    position: absolute;
    margin-top: 5em;
    margin-left: 8em;
}

.card-logo {
    position: relative;
    margin-top: 7em;
    margin-left: 10em;
}

.card-info{
    position: relative;    
    width: 447px;
    height: 100px;
    margin-top: 1em;
    margin-left: 8em;
}

.card-info-number {
    font-size: 28px;
    word-spacing: 2px;
    text-align: center;
    padding-top: 1em;
    color: #FFFFFF;     
}

.card-info-number label {
    margin: 0px 1%;
}

.card-info-name {
    text-align: right;
    width: 447px;
    margin-top: 1em;
    padding-right: 2em;
    word-spacing: 165px;
    box-sizing: border-box;
    color: #FFFFFF;
}

.name-card {
    word-spacing: 0px;
}

.img-card-back {
    position: absolute;
    margin-top: 4em;
    margin-left: 15em;
}

.card-cod {
    position: absolute;
    font-size: 20px;
    margin-top: 9.1em;
    margin-left: 31em;
    color: #FFFFFF;
}

.info-form {
      /*  display: none;  */
    float: right;
    width: 310px;
    height: 300px;
    margin-right: 8em;
    margin-top: -5em;
    padding: 50px;
}

.info-form label {
    font-size: 13px;
}

.info-form input {
    height: 30px;
    border-style: solid;
    border-color: #C1BFC3;
    border-radius: 6px;
    padding-left: 10px;
    box-sizing: border-box;
    margin: 5px 0px 10px;
}

.cardExp {
    width: 60px;
}

.card-cvc {
    float: right;
    width: 130px;
    margin-left: 50px;
}

.info-form strong input {
    width: 308px;
    height: 35px;
    border-style: none;
    border: none;
    border-radius: 6px;
    color: #FFFFFF;
    background-color: #220930;
}

.thank-form {
    display:  none;
    float: right;
    width: 310px;
    height: 300px;
    margin-right: 8em;
    margin-top: -5em;
    padding: 50px;
}

.button-confirm {
    width: 308px;
    height: 35px;
    border-style: none;
    border: none;
    border-radius: 6px;
    color: #FFFFFF;
    background-color: #220930;
}

.thank-form img {
    display: block;
    margin: 1rem auto;
}

